# Crosstab and contingency

In [1]:
import pandas as pd

# Create the dataframe
data = {
    "x": ["p", "p", "p", "q", "p", "q", "q", "q"],
    "y": ["r", "r", "r", "s", "s", "r", "s", "r"],
    "Class": ["c1", "c1", "c1", "c1", "c2", "c2", "c2", "c"]
}

df = pd.DataFrame(data)
df

   x  y Class
0  p  r    c1
1  p  r    c1
2  p  r    c1
3  q  s    c1
4  p  s    c2
5  q  r    c2
6  q  s    c2
7  q  r     c

In [5]:
df.value_counts()

x  y  Class
p  r  c1       3
   s  c2       1
q  r  c        1
      c2       1
   s  c1       1
      c2       1
Name: count, dtype: int64

In [6]:
# Create contingency table: counts of x,y combinations vs Class
contingency_table = pd.crosstab(index=[df["x"], df["y"]], columns=df["Class"])
contingency_table

Class  c  c1  c2
x y
p r    0   3   0
  s    0   0   1
q r    1   0   1
  s    0   1   1